.h2 {
  color: #fff;
  font-size: 1.5rem;
}

.badge {
  padding: 0.33em 0.5em;
  border-radius: 0.375rem;
  font-weight: 400;
}

.badge-soft-success {
  color: #00d97e;
  background-color: #0e4a4c;
}

.badge-soft-danger {
  color: #ffc4c4;
  background-color: #a83a3a;
}
