a {
  text-decoration: none;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.02em;
  font-weight: 600;
  line-height: 1.1;
  color: #fff;
}

.h1,
h1 {
  font-size: 1.625rem;
}

.h4,
h4 {
  font-size: 0.9375rem;
  color: #fff;
}

.h2,
h2 {
  font-size: 1.25rem;
}

.h6,
h6 {
  /* margin-bottom: 0.5625rem; */
  font-size: 0.625rem;
}

.header {
  margin-bottom: 2rem;
}

.header-body {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid #1e3a5c;
}

.header-pretitle {
  letter-spacing: 0.08em;
  color: #6e84a3;
}

.btn-primary {
  color: #fff;
  background-color: #2c7be5;
  border-color: #2c7be5;
}

.btn {
  padding: 0.5rem 0.75rem;
  font-size: 0.9375rem;
}

.card {
  background-color: #152e4d;
  border: 1px solid #1e3a5c;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
}

.card-body {
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.5rem;
}

.card-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 60px;
  padding: 1rem 1.5rem;
  border-bottom: 1px solid #1e3a5c;
}

.card-header > :first-child {
  flex: 1;
}

.badge {
  /* border: 1px solid white; */
  padding: 0.33em 0.5em;
  border-radius: 0.375rem;
  font-weight: 400;
}

.badge-soft-success {
  color: #00d97e;
  background-color: #0e4a4c;
}

.badge-soft-danger {
  color: #ffc4c4;
  background-color: #a83a3a;
}

.text-muted {
  color: #6e84a3 !important;
}

.mr-3,
.mx-3 {
  margin-right: 0.75rem !important;
}

.card-header-tabs {
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  margin-left: 0;
  margin-right: 0;
}

.nav-tabs-sm {
  font-size: 0.8125rem;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: #fff;
  background-color: transparent;
  border-color: transparent transparent #2c7be5;
}

.nav-link:not(.active) {
  color: #95aac9;
}

.nav-link {
  padding: 1.2rem 0.5rem;
}
